<div class="comment-container">
  <div class="comment-text-container">
      <span class="post-comment">{{text}}</span>
      <span class="comment-index">{{index}}</span>
  </div>

  <div class="comment-votes">
    <button type="button" name="upvote">Like</button>
    <span class="post-value">Votes: {{value}}</span>
    <button type="button" name="downvote">Dislike</button>
  </div>
</div>
