<div>
  <span class="post-comment">{{text}}</span>
  <div class="comment-votes">
    <button type="button" name="upvote">Like</button>
    <span class="post-value">Votes: {{value}}</span>
    <button type="button" name="downvote">Dislike</button>
  </div>
</div>
