<header>
  <div class="header-image-container">
    <img src="campaign logo (no title).jpg" alt="site logo">
  </div>

  <h1 class="site-title"> <a href="#">The Campaign Compendium</a> </h1>

  <div class="banner-image-container">
    <img src="campaign banner.jpg" alt="site banner">
  </div>
</header>

<nav class="headerNav">
  <a href="/">Home</a>
  <a href="/newPost">Create Campaign</a>
  <input type="text" placeholder="Search..">
</nav>

<!-- <header>
  <div class="header-image-container">
    <img src="campaign logo.jpg" alt="site logo">
  </div>
  <h1 class="site-title"> <a href="#">The Campaign Compendium</a> </h1>
</header> -->
