<header>
  <div class="header-image-container">
    <img src="campaign logo (no title).jpg" alt="site logo">
  </div>

  <h1 class="site-title"> <a href="#">The Campaign Compendium</a> </h1>

  <div class="banner-image-container">
    <img src="campaign banner.jpg" alt="site banner">
  </div>
</header>

<nav class="headerNav">
  <a href="/">Home</a>
  <a href="/newPost">Create Campaign</a>
  <input type="text" placeholder="Search..">

  <div class="dropdown">
    <div class="dropdown-num-of-players">
    <button class="dropbtn">Number of Players
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <a href="#">1</a>
      <a href="#">2</a>
      <a href="#">3</a>
      <a href="#">4</a>
      <a href="#">5</a>
      <a href="#">6</a>
      <a href="#">7</a>
      <a href="#">8</a>
    </div>
    </div>
  </div>

  <div class="dropdown">
    <div class="dropdown-party">
      <button class="dropbtn">Party Level
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-content">
        <a href="#">1</a><a href="#">2</a><a href="#">3</a>
        <a href="#">4</a><a href="#">5</a><a href="#">6</a>
        <a href="#">7</a><a href="#">8</a><a href="#">9</a>
        <a href="#">10</a><a href="#">11</a><a href="#">12</a>
        <a href="#">13</a><a href="#">14</a><a href="#">15</a>
        <a href="#">16</a><a href="#">17</a><a href="#">18</a>
        <a href="#">19</a><a href="#">20</a><a href="#">21</a>
        <a href="#">22</a><a href="#">23</a><a href="#">24</a>
        <a href="#">25</a><a href="#">26</a><a href="#">27</a>
        <a href="#">28</a><a href="#">29</a><a href="#">30</a>
      </div>
    </div>
  </div>

  <div class="dropdown">
    <button class="dropbtn">Campaign Setting
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <a href="#">Fantasy</a>
      <a href="#">Sci-fi</a>
      <a href="#">Esponiage</a>
      <a href="#">Mystery</a>
      <a href="#">Historical</a>
      <a href="#">Historical</a>
      <a href="#">Other</a>
    </div>
  </div>

</nav>

<!-- <header>
  <div class="header-image-container">
    <img src="campaign logo.jpg" alt="site logo">
  </div>
  <h1 class="site-title"> <a href="#">The Campaign Compendium</a> </h1>
</header> -->
