<div class="post">
  <div class="post-content">
    <span class="post-title">{{title}}</span>
    <img class="post-image" src="{{imageURL}}" alt="imageURL">
    <span class="post-summary">{{summary}}</span>
    <div class="post-tags">
      {{#each tags}}
        {{> tag text=this }}
      {{/each}}
      <span class="array-index">{{num}}</span>
    </div>
  </div>
</div>
