<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/master.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.4.2/handlebars.runtime.js" charset="utf-8" defer></script>
    <script src="/postTemplate.js" charset="utf-8" defer></script>
    <script src="/index.js" charset="utf-8" defer></script>
    <title>The Campaign Compendium</title>
  </head>
  <body>
    {{> header}}
    {{{body}}}
  </body>
</html>
