body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  background-color:#706D6A;
}

a {
  text-decoration: none;
  color: #f67811;
}

a:hover {
  text-decoration: underline;
}

header {
  background-color: #000;
  width: 100%;
  height: 146px;
  display: flex;
  align-items: center;
  position: relative;
}

header a {
  color: #fff;
}

label {
  color: #FFFFFF;
}

h2 {
  color:#FFFFFF;
  text-align: center;
  font-size: 30px;
}

.headerNav {
  display: inline-block;
  width: 100%;
  background-color: #969595;
}

.headerNav a {
  float: left;
  display: block;
  color: #FFFF;
  padding: 15px 20px;
  font-size: 20px;
}

.headerNav a:hover {
  background-color: #BEBABA;
  color: black;
}



.headerNav input[type=text] {
  float: right;
  padding: 5px;
  border: none;
  margin-top: 11px;
  margin-right: 15px;
  font-size: 18px;
}

@media screen and (max-width: 600px) {
  .headerNav a, .headerNav input[type=text] {
    float: none;
    border: 5px;
    text-align: left;
    margin: 0;
    width: 100%;
    padding: 10px;
  }
  .headerNav input[type=text] {
    border: 1px solid #ccc;
  }
}

.site-title {
  font-family: "Roboto Slab", serif;
  font-size: 30px;
  font-weight: 100;
  margin: 0 0 0 20px;
  padding-top: 30px;
}
.site-title a:hover {
  text-decoration: none;
}


.dropbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
